.listagem {
    max-width: 200px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6B727A;
    color: #FFFFFF;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover {
    transform: scale(1.05);
}

.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 20px;
}

.listagem .pokemon.ativo{
    background-color: rgb(207, 119, 119);
}

.listagem .pokemon.pikachu:hover {
    background-color: #FCC719;
}
.listagem .pokemon.bulbasaur:hover{
    background-color: #49D0B0;
}
.listagem .pokemon.charmander:hover{
    background-color: #ED8A8B;
}
.listagem .pokemon.gyarados:hover{
    background-color: #76BEFE;
}
.listagem .pokemon.gengar:hover{
    background-color: #BA68C8;
}
.listagem .pokemon.dragonite:hover{
    background-color: #C29791;
}

